// Main Website Design: Neutral, minimalist
$clr-primary: hsl(271, 94%, 65%);
$clr-accent: hsl(34, 97%, 61%);

$clr-dark: hsl(0, 0%, 12%); 
$clr-white: hsl(0, 0%, 100%);
$clr-light: hsl(0, 0%, 95%); 



// GRADIENTS
/* $dark-gradient: linear-gradient(
    rgba($clr-primary, 1),
    rgba($clr-primary-dark, 1)
);

$center-fade-gradient-purple: linear-gradient(
    rgba($clr-primary, 0),
    rgba($clr-primary, .5),
    rgba($clr-primary, 1),
    rgba($clr-primary, .5),
    rgba($clr-primary, 0),
);

$center-fade-gradient-purple-light: linear-gradient(
    rgba($clr-primary, 0),
    rgba($clr-primary, .2),
    rgba($clr-primary, .5),
    rgba($clr-primary, .2),
    rgba($clr-primary, 0),
); */