.flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.col-reverse {
  flex-direction: column-reverse;
}

// Justify and Alignment
.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

// FLEX ITEMS
.flex-grow {
  flex-grow: 1;
}