.side-nav {
  .nav-list {
    display: none;

    // Content
    padding: 1rem;
  }

  .side-nav-toggle {
    position: absolute;
      top: 2rem;
      left: -1rem;
      z-index: 10;
  }

  // Mobile
  @media only screen and (max-width: $md-breakpoint) {
    position: fixed;

    // Size
    width: 0%;
    height: 100%;

    // Active
    &.active {
      width: 75%;

      .nav-list {
        display: block;
      }
    }
  }
  
  // Desktop and Tablet
  @media only screen and (min-width: $md-breakpoint) {
    flex-basis: 35%;
    max-width: 350px;

    .nav-list {
      display: block;  
    }
  
    .side-nav-toggle {
      display: none;
    }
  }
  

  // DEBUG
  /* background-color: red; */
}
