.side-nav {
  display: none;

  &.active {
    display: block;
  }

  @media only screen and (min-width: $md-breakpoint) {
    display: block;
  }
}

.side-nav-toggle {
  @media only screen and (min-width: $md-breakpoint) {
    display: none;
  }
}